<div class="return"> <%= link_to "Back to #{@image.rover.name} images", rover_path(@image.rover), class: "link" %> </div>
<h4 class="image-title">Photo taken by <%= @image.name %> with the <%= @image.description %> </h4>
<div class="full-size-image"> <%= image_tag ("#{@image.image}") %> </div>


<% if user_signed_in? %>
  <div class="vote-buttons">
    <%= button_to pluralize(@image.votes.where(vote: true).count,
      "Upvote"),
      image_path(@image),
      method: 'get',
      class: 'votes up tiny button',
      id: "upvote-#{@image.id}" %>
    <%= button_to pluralize(@image.votes.where(vote: false).count,
      "Downvote"),
      image_path(@image),
      method: 'get',
      class: 'votes down tiny button',
      id: "downvote-#{@image.id}" %>
  </div>
  <% else %>
    <%= link_to "Sign in to vote and comment!", new_user_session_path, class: "link" %>
<% end %>

<% if @comments.empty? %>
<p class="comments-empty">No comments to display!</p>
<% else %>
<p class="comments-label">Comments:</p>
<% end %>

<% @comments.each do |comment| %>
<div class="comment-wrapper">
  <div class="comment-actions">
    <% if current_user == comment.user %>
    <li><%= link_to "Edit Comment", edit_image_comment_path(@image, comment), class: "link" %></li>
    <li><%= link_to "Delete Comment", image_comment_path(@image, comment), class: "link", method: :delete %></li>
    <% end %>
  </div>
  <li><%= comment.user.first_name %> <%= comment.user.last_name %></li>
  <li><%= comment.body %></li>
</div>
<% end %>

<% if user_signed_in? %>
  <h2>New Comment</h2>
  <div class="row">
    <div class="small-6 small-centered columns border">
      <%= form_for [@image, @comment] do |f| %>
      <div class="form-inputs">
        <%= f.label :body, "Comment" %>
        <%= f.text_area :body %>
      </div>
      <div class="form-actions">
        <%= f.submit class: "small button form-button" %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
