<div class="return"> <%= link_to "Back to #{@image.rover.name} images", rover_path(@image.rover), class: "link" %> </div>
<h4 class="image-title">Photo taken by <%= @image.name %> with the <%= @image.description %> </h4>
<div class="full-size-image" image-id="<%= @image.id %>"> <%= image_tag ("#{@image.image}") %> </div>


<% if user_signed_in? %>
  <div class="vote-buttons">
    <%= button_to pluralize(@image.votes.where(vote: true).count,
      "Upvote"),
      image_path(@image),
      method: 'get',
      class: 'votes up tiny button',
      id: "upvote-#{@image.id}" %>
    <%= button_to pluralize(@image.votes.where(vote: false).count,
      "Downvote"),
      image_path(@image),
      method: 'get',
      class: 'votes down tiny button',
      id: "downvote-#{@image.id}" %>
  </div>
  <% else %>
    <div id="sign-in-request"><%= link_to "Sign in to vote and comment!", new_user_session_path, class: "link"%></div>
<% end %>

<% if @comments.empty? %>
<p class="comments-empty">No comments to display!</p>
<% end %>

<div class="comment-box">
  <% @comments.each_with_index do |comment, index| %>
  <div class="comment-wrapper" comment-id="<%= comment.id %>">
    <div class="comment-actions">
      <% if current_user == comment.user %>
      <li><%= link_to "Edit Comment", edit_image_comment_path(@image, comment), class: "link edit-comment" %></li>
      <li><%= link_to "Delete Comment", image_comment_path(@image, comment), class: "link delete-comment", id: "delete", method: :delete %></li>
      <% end %>
    </div>
    <li class="name", id="username"><%= comment.user.first_name %> <%= comment.user.last_name %></li>
    <li class="body", id="comment-body"><%= comment.body %></li>
    <!-- <li class="timestamp" id="timestamp[<%= index %>]"> <%=comment.user.created_at%> </li> -->
  </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <h2>New Comment</h2>
  <div class="row comment-form">
    <div class="small-6 small-centered columns border">
      <%= form_for [@image, @comment] do |f| %>
      <div class="form-inputs">
        <%= f.label :body, "Comment" %>
        <%= f.text_area :body %>
      </div>
      <div class="form-actions">
        <%= f.submit class: "small button form-button", id: "comment-form" %>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
